[user]
	name = brijesh
	email = 145837789+brijesh-0@users.noreply.github.com
	signingkey = 8C3C11E87778BD38
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[core]
	editor = nvim
	pager = delta
[alias]
	co = checkout
	br = branch
	cm = commit
	st = status
	last = log -1 HEAD
	unstage = reset HEAD --
	lg = log --oneline --graph --decorate --all

[log]
	date = relative
[color]
	ui = auto
[status]
	short = true

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true  # use n and N to move between diff sections
	dark = true      # or light = true, or omit for auto-detection
	side-by-side = true

[merge]
	conflictStyle = zdiff3	
